<If "%{REQUEST_URI} =~ m#^/(manifest\.json|(pull|login)/(|index.php)|app-(180|512)\.png|favicon\.(ico|svg)|bg\.jpg|signs/.*\.gif)$#">
	Allow From All
</If>
<ElseIf "%{REQUEST_URI} =~ m#^/(|index\.html|index-.*\.js\.map|pdf/.*\.pdf)$#">
	RewriteEngine On
	
	RewriteCond %{REQUEST_URI} ^/(|index\.html|pdf/.*\.pdf)$
	RewriteCond %{HTTP_COOKIE} !session= [NC]
	RewriteRule ^.*$ /login/?url=%{REQUEST_URI} [R=302,L]
	
	RewriteCond %{REQUEST_URI} ^/(|index\.html|pdf/.*\.pdf)$
	RewriteCond %{HTTP_COOKIE} !session=VXRN2hhENvckliT3J2SXZLdh5bt1ZmRhc2hlZkl0dDlva11cEhay1Jc2hvdG5vaWRYXIwUmV1ck93eW9mCg [NC]
	RewriteRule ^.*$ /login/?error&url=%{REQUEST_URI} [R=302,L]
</ElseIf>
<Else>
	Deny From All
</Else>


